name: Luarocks

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
  pull_request:

jobs:
  luarocks-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          dependencies: |
            lua >= 5.1
          test_dependencies: |
